@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-slate-800 bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-mlab-cyan to-mlab-purple;
}

.gradient-bg {
  @apply bg-gradient-to-r from-mlab-cyan to-mlab-purple;
}
